body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

#map {
    height: calc(100vh - 50px); /* Adjust height to account for the title */
    width: 100%;
}

#search-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 350px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

#search-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#suggestions-container {
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 250px;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
}

.suggestion-item {
    padding: 12px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}